// .formCard {
//     border-radius: var(--radius-xl);
//     //box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.6);
//     transition: transform 0.3s ease, box-shadow 0.3s ease;
  
//     &:hover {
//       transform: translateY(-4px);
//       //box-shadow: 0 30px 60px -12px rgba(0, 0, 0, 0.7);
//     }
//   }
  
  //.input {
    // border-radius: var(--radius-xl);
    // transition: all 0.2s ease;
  
    // &:focus {
    //   box-shadow: 0 0 0 3px rgba(251, 191, 36, 0.15);
    // }
  //}
  
  // .button {
  //   border-radius: var(--radius-lg);
  //   // background: linear-gradient(to right, #fbbf24, #f59e0b);
  //   transition: all 0.3s ease;
  
  //   &:hover {
  //     transform: translateY(-1px);
  //     box-shadow: 0 10px 20px -5px rgba(251, 191, 36, 0.35);
  //   }
  // }